<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="test"
          android:versionCode="1"
          android:versionName="1.0">
    <application android:label="foo" >
        <service android:name=".FooService" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="GET_FOO" />
            </intent-filter>
        </service>
    </application>
</manifest>
